<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager - Add</title>
  </head>

  <body>
    <h1>Welcome to the bookmark manager add function.</h1>

    <form action='/bookmarks/<%= @bookmark_id %>' method='post'>
      <h2>Leave empty if value unchanged</h2>
      <input type="hidden" name="_method" value="PATCH" />
      <input type="text" name="title" placeholder="Title" />
      <br>
      <input type="text" name="url">
      <br>
    <div class="bookmark_button">
      <button type="submit">Submit</button>
    </div>
    </form>

  </body>
</html>
