<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager - Add</title>
  </head>

  <body>
    <h1>Welcome to the bookmark manager add function.</h1>

    <form action='/add-bookmark' method='post'>
      <input type="text" name="new_link">
    <div class="bookmark_button">
      <button type="submit">See Bookmarks</button>
    </div>
    </form>

  </body>
</html>
